<app-nav-bar-test></app-nav-bar-test>
<div class="main">
<div class="container">
    <div class="row">
        <div class="col-lg-6 pt-5">
                        <div class="info-wrap w-100 pt-5">
                            <h3 class="mb-4">Contactez nous</h3>
                            <div class="dbox d-flex align-items-start">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-map-marker"></span>
                                </div>
                                <div class="text pl-4">
                                    <p><span>Addresse:</span> 96 Bd D'Anfa Etg N°09 Appt N°91 Res Le Printemps D'Anfa, Casablanca.</p>
                                </div>
                            </div>
                            <div class="dbox w-100 d-flex align-items-start">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-phone"></span>
                                </div>
                                <div class="text pl-4">
                                    <p><span>Télèphone:</span> <a href="tel://1234567920">06542536987</a></p>
                                </div>
                            </div>
                            <div class="dbox w-100 d-flex align-items-start">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-paper-plane"></span>
                                </div>
                                <div class="text pl-4">
                                    <p><span>Email:</span> <a href="contact@medico-call.com" class="pl-1">contact@medico-call.com</a></p>
                                </div>
                            </div>
                            <div class="dbox w-100 d-flex align-items-start">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-globe"></span>
                                </div>
                                <div class="text pl-4">
                                    <p><span>Website:</span><a href="#">medicocall.com</a></p>
                                </div>
                            </div>
            </div>
        </div>
        <div class="col-6"><img style="width: 500px; height: 500px;" src="../../assets/img/undraw_contact_us_15o2.svg"></div>
    </div>
</div>
</div>