body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
    min-height: 100vh; 
}
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
.menu { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0%;
  
}
.hr{
    color: rgb(233, 231, 231);
    margin-bottom: 0% !important;
}
.active{
    /* text-decoration: underline !important; */
    position: relative;
    color: #37517e !important;
    border-top:solid #c6c8cb 2.5px !important;
    border-right:solid #c6c8cb 2.5px !important;
    border-left:solid #c6c8cb 2.5px !important;
    border-bottom: solid #ffffff 2.5px !important;;
    border-top: none;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   z-index: 10;
   padding-right: 10px !important;
   padding-left: 10px !important;
   
}
hr{
    z-index: 1;
    position: relative;
    top:-26px !important;
}

.basic-container {
  padding: 10px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 3 solid rgba(0,0,0,0);
    border-radius: .25rem;
    
}

.gutters-sm {
    margin-right: -70px;
    margin-left: -70px;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.5rem;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
H1 { text-align: center }

.form-check-input:checked{
    transform:scale(0.9) !important;
    border: none !important;
    /* border: 1px solid black !important; */
    background:  url("../../assets/img/coorect.png") !important;
background-position: center !important;
background-repeat: no-repeat !important;
background-attachment: scroll !important;
background-size: cover !important;
}
.submit{
    position: relative;
    /* left: 50%; */
    width: 50%;
    color: white;
    /* transform: translateX(-25%); */
    font-weight: bold;
    background-color: #37517e !important;
    border: none;
}
.submit:hover{
    color: white;
    position: relative;
    /* left: 50%; */
    width: 50%;
    /* transform: translateX(-25%); */
    font-weight: bold;
    background-color: #253b63 !important;
    border: none;
}

.profile{

    object-fit: cover !important;
    border-radius: 50%;
    /* border: 2px solid #d4dce7; */
    
}

.form-check-input{
    transform:scale(0.9) !important;
    /* border: 1px solid black !important; */
}
.form-check-label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: #6c757d !important;
}

.remarque{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: #209dd8 !important;
}

.all{
    /* background-color: rgb(240, 240, 240) !important; */
}


@keyframes example {
    /* from {transform: rotate(0deg);}
    to {transform: rotate(360deg);} */
    from {height: 70px;width: 70px;}
    to {height: 120px;width: 120px;}
  }
  .fa-clipboard-list{
      font-size: 2rem !important;
      color: #37517e;
  }
.effet{
    margin-top: 8%;
    width: 50px;
    /* padding: 5px; */
    height: 50px;
    /* background-color: rgb(0, 0, 0);
    border-radius: 50%; */
    animation-name: example;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.card {
    min-height: 400px;
}
#myImage1:hover{
    cursor: pointer;
    }
.card-profile{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    min-height: auto !important;
}
.refresh{
    margin-top: 10% !important;
}
.modal-confirm .icon-box i {
	font-size: 64px;
	margin: -4px 0 0 -4px;
}
.modal-confirm.modal-dialog {
	margin-top: 80px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #eeb711 !important;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border-radius: 30px;
	margin-top: 10px;
	padding: 6px 20px;
	border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
	background: #eda645 !important;
	outline: none;
}
.modal-confirm .btn span {
	margin: 1px 3px 0;
	float: left;
}
.modal-confirm .btn i {
	margin-left: 1px;
	font-size: 20px;
	float: right;
}
.modal-confirm {		
	color: #434e65;
	width: 525px;
}
.modal-confirm .modal-content {
	padding: 20px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
}
.modal-confirm .modal-header {
	background: #47c9a2;
	border-bottom: none;   
	position: relative;
	text-align: center;
	margin: -20px -20px 0;
	border-radius: 5px 5px 0 0;
	padding: 35px;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 36px;
	margin: 10px 0;
}
.modal-confirm .form-control, .modal-confirm .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-confirm .close {
	position: absolute;
	top: 15px;
	right: 15px;
	color: #fff;
	text-shadow: none;
	opacity: 0.5;
}
.modal-confirm .close:hover {
	opacity: 0.8;
}
.modal-confirm .icon-box {
	color: #fff;		
	width: 95px;
	height: 95px;
	display: inline-block;
	/* border-radius: 50%; */
	z-index: 9;
	/* border: 5px solid #fff; */
	padding: 15px;
	text-align: center;
}

.chargement span {
    font-size: 1.5em;
    color: transparent;
    display: inline-block;
    animation: move 2s ease-in-out infinite;
  }
  .message-zone{

    position: relative;
    left: 50%;
    border-radius: 5px;
transform: translate(-55%);
color: black;
background-color: #e2e8f0 !important;

  }
  .fa-clipboard-check{
      color: black;
      font-size: 2.1em;
      background-color: blanchedalmond;
  }
  footer{
      position: relative;
      bottom: 0px;
      left: 50%;
      transform: translate(-50%);
      /* top: 100%; */
  }
  @keyframes move {
    0% {
      color: transparent;
    }
    100% {
      color: black;
    }
  }
  
  .chargement span:nth-child(2) {
    animation-delay: 0.5s;
  }
  
  .chargement span:nth-child(3) {
    animation-delay: 1s;
  }
  
@media  screen and (max-width:1199px) {
    .gutters-sm {
        margin-right: -30px;
        margin-left: -30px;
    }
    .active{
        border: none !important;
    }
    
}